*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 24, 24);
    font-family: sans-serif;
}
canvas{
    background-color: rgb(9, 7, 34);
}
#title {
    display: flex;
    font-family: monospace;
    padding: 10px;
}
#main {
    display: flex;
}
#sidebar {
    background-color: rebeccapurple;
    width: 200px;
}
.electron-box {
    padding: 10px
}